{% extends 'layout.html' %}
{% block content %}

    <body>
    <div class="about" style="background:beige">
        <h1>What the hack is coding</h1>
        <p>Coding is a skill where you take instructions (the steps in a task) and translate it into a language the computer understands since computers do not communicate like humans. They communicate in a language called BINARY and it is uses 0's and 1's. Coders write the instructions using a programming language.So code and have fun.</p>
    </div>
    </body>
{%endblock%}